body{
    font-family: 'Be Vietnam Pro', sans-serif;
    margin: 0;
}
h1{
    font-size: 60px;
   }
.name{
    color: orange;
}   
.flexible-container{
    display: flex;
 
}
.half-width{
    width: 50%;
    padding-left: 10px;
}
.half-width img{
    width: 90%;
}
.link-button{
    text-decoration: none;
    color:white;
    padding: 10px 40px;
    background-image:linear-gradient(orange,tomato) ;
    font-weight: 500;
    border-radius: 5%;   
   
}


.first_section
{
    background-image:url(images/top-banner.png);
    background-repeat: no-repeat;
    
}
h2{
    font-size: 40px;
}
.dream_big
{
    margin-top: 120px;
}
.dream_big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
p{
    padding-right: 10px;
    font-size: 20px;
}
.experience-item
{
    width: 40%;
    padding: 10px;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 20px 20px 40px silver;
    border: solid black;
   
}
.Experience{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.Experience .name{
    text-align: center;
}
.my_footer
{
    width: 60%;
    padding: 10px;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 5px 40px silver;
    background-image:linear-gradient(orange,tomato) ;
    
}
footer{
    margin-bottom: 50px;
    
   
}